<%- include("partials/header.ejs") %>
<div class="grid-container" >
    <% if (scores.length > 0) { %>
        <div class="table-title" >Rank</div><div class="table-title" >Name</div><div class="table-title" >Level</div><div class="table-title" >Date</div>
        <% let i = 1 %>
        <% for (let score of scores.slice(0, 10)) { %>
            <div class="rank<%= i %> table-content" ><%= i %></div>
            <div class="rank<%= i %> table-content" ><%= score[0] %></div>
            <div class="rank<%= i %> table-content" ><%= score[1] %></div>
            <div class="rank<%= i %> table-content" ><%= score[2] %></div>
            <% i++ %>
        <% } %>
    <% } else { %>
        <p style="grid-column: span 4;text-align: center;" >Nothing to Show</p>
    <% } %>
    <script src="https://cdn.jsdelivr.net/npm/canvas-confetti@1.5.1/dist/confetti.browser.min.js" defer ></script>
    <script>
        if (localStorage.length === 0) {
            document.querySelector(".play-link").setAttribute("href", "/home");
        }

        const firsts = document.querySelectorAll(".rank1");
        for (let first of firsts) {
            first.classList.add("gold");
        }

        const seconds = document.querySelectorAll(".rank2");
        for (let second of seconds) {
            second.classList.add("silver");
        }

        const thirds = document.querySelectorAll(".rank3");
        for (let third of thirds) {
            third.classList.add("bronze");
        }

    setTimeout(() => {
        confetti({
          particleCount: 200,
          spread: 100,
          origin: { y: 0.6 },
          disableForReducedMotion: true
        });
      }, 500);
    </script>
</div>
<%- include("partials/footer.ejs") %>